@using DVRP.Domain.Entities;

<Table Bordered>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Vehicle</TableHeaderCell>
            <TableHeaderCell>Route</TableHeaderCell>
            <TableHeaderCell>Distance</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach(var route in Solution?.Routes ?? Enumerable.Empty<VehicleRoute>())
        {
            <TableRow>
                <TableRowHeader>@route.Vehicle.Id</TableRowHeader>
                <TableRowCell>@string.Join(" -> ", route.Locations.Select(l => l.Id))</TableRowCell>
                <TableRowCell>@route.Distance.ToString("F0")</TableRowCell>
            </TableRow>
        }
    </TableBody>
    <TableFooter>
        <TableRow>
            <TableRowHeader>Total distance:</TableRowHeader>
            <TableRowCell ColumnSpan="2">@Solution?.TotalDistance.ToString("F0")</TableRowCell>
        </TableRow>
    </TableFooter>
</Table>
