@page "/"

<div class="container">
    <h1 class="my-3">Dynamic Vehicle Routing Problem Analyzer</h1>

    <SelectAlgorithm SelectedAlgorithm="@SelectedAlgorithm" SelectedAlgorithmChanged="OnSelectedAlgorithmChanged"
        @bind-AlgorithmParameters="AlgorithmParameters" />
    
    <DvrpDataInput @bind-Data="@Data" />

    <SolvingResult @bind-Solution="Solution" />

    <button type="button" class="btn btn-primary" @onclick="RunSolver">Run Solver</button>
</div>